.moletom {
	width: 20%;
	padding-left: 720px;
}

.calça {
	width: 25%;
	padding-left: 720px;
}
.cnj {
	width: 25%;
	padding-left: 720px;
}

.shorts{
	padding-left: 825px;
}

.cnjv {
	width: 25%;
	padding-left: 720px;
}

html {
	background: #000000;
}

h1{
	color: #FFCBDB;
	text-align: center;
}

.logo{
  width: 20%;
}

header{
	background: #3D0517;
}

50041D